.event-title {
  background: linear-gradient(rgba(0, 0, 0, 0.65) 100%, rgba(0, 0, 0, 0.65) 0),
    url("https://i.ibb.co/9Gr6VXQ/breadcrumb-bg-9cc4efda.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}
